# add ansible paths for project
export BLINK_PATH="{{ BLINK_PATH }}"
export ANSIBLE_CONFIG="{{ ANSIBLE_CONFIG }}"

# blink-night
alias blink-base='ansible-playbook ${BLINK_PATH}/main.yaml -i ${BLINK_PATH}/inventory/all.yaml -t blink-night'
